* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body{
  margin:20px 100px 0 100px;
  background: white;
}
h1{
  font-size: 40px;
  text-align: center;
  margin-bottom:1rem;
  font-weight: bold;
}
.grid-container{
  display: inline-grid;
  
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(150px, auto);
}
.center-screen {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  min-height: 100vh;
}

.box {
  text-align: center;
  font-size: 20px;
  /* width: 100%; */
  min-width: 200px;
  background-color: white  ;
  padding: 25px;
  margin: 15px;
  border: 2px solid grey;
  border-radius: 15px;
}
.box:hover{
background-color: #D8D8D8;
cursor: pointer;
}

.hide{
  display: none;
}
/* //////////////////////// */
input,
textarea,
select {
  min-width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 25px;
  border: none;
}
.spanText{
  font-size: 36px;
}


@media only screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .box{
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 600px) {
  body{
    margin: 0 20px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .box{
    margin: 0px;
  }
}




